@model _497FinalProject.Models.ClassModel

@{
    ViewBag.Title = "Add/Remove";
}
<br />
<h2>Add/Remove Students</h2>



    //Need two lists, one for add & one for remove
    //Look at post controller logic for adding to list

    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th class="col-centered">
                UserName
            </th>
            <th class="col-centered">
                Name
            </th>
            <th class="col-centered">
                No Of Posts
            </th>
                       
            <th class="col-centered">
                Status
            </th>
                        

        </tr>

        @*Runs through list of Students in a class, List from Join Class*@
        @foreach (var item in ViewBag.classMembers)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.FirstName + @item.LastName
                </td>
                <td>
                    @item.NumberOfPosts
                </td>
                                          
                            
                <td class="col-centered">
                    @using (Html.BeginForm())
                     {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.Label("Added: ", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="line-height:2.5">
                                    @{
                                        if (@ViewBag.InClassList == true)
                                        {
                                            <input checked="checked" id="inClassList" name="inClassList" type="checkbox">
                                        }
                                        else
                                        {
                                            <input id="inClassList" name="inClassList" type="checkbox">
                                        }
                                    }
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.Label("Removed: ", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="line-height:2.5">
                                    @{
                                        if (@ViewBag.NotInClassList == true)
                                        {
                                            <input checked="checked" id="notInClassList" name="notInClassList" type="checkbox">
                                        }
                                        else
                                        {
                                            <input id="notInClassList" name="notInClassList" type="checkbox">
                                        }
                                    }
                                </div>
                            </div>

                        
                            
                        </div>
                     }
                </td>
                            
            </tr>
        }
    </table>

