@model IEnumerable<_497FinalProject.Models.ThreadModel>

@{
    ViewBag.Title = "Class Threads";
}

<h2>View All Threads within a class</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewThread", "Thread", null, new { @style = "color: black;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThreadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPosts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfLastPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfPosts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfLastPost)
        </td>
        <td>

            @Html.ActionLink("Delete", "DeleteThread", "Thread", null, new { @style = "color: black;" })
        </td>
    </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index", "Class", null, new { @style = "color: black;" })
</div>



