@model IEnumerable< _497FinalProject.Models.ClassModel >

@{
    ViewBag.Title = "Index";
}

<h2>MIS Classes:</h2>
<p>
    @Html.ActionLink("Create New Class", "CreateNewClass", "Class", null, new { @style = "color: black;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Threads)
        </th>
        <th>
            Number of Threads
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfThreads)
        </td>
        @if (item.NoOfThreads != 0)
        {
            <td>
                @Html.ActionLink("Threads", "ViewThreadsByClass", "Thread", new { id = item.ClassID }, null)
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Create Thread", "CreateNewThread", "Thread", null, new { @style = "color: black;" })
            </td>
        }
        @if (User.IsInRole("Student"))
        {
            <td>
                @Html.ActionLink("Join", "JoinClass", null, new { @style = "color: black;" })
            </td>
        }
        else if (User.IsInRole("Professor"))
        {
            <td>
                @Html.ActionLink("Delete", "DeleteClass", null, new { @style = "color: black;" }) | @Html.ActionLink("View Students", "AddRemove", null, new { @style = "color: black;" })
            </td>
        }
    </tr>
    //If teacher, View Class list button which takes you to AddRemove View
    }
    
</table>

