@model IEnumerable<_497FinalProject.Models.PostModel>

@{
    ViewBag.Title = "Thread Posts";
}

<h2>View all posts within a thread</h2>

<p>
    @Html.ActionLink("Create New", "CreatePost", "Post", null, new { @style = "color: black;" })
</p>
@foreach (var item in Model)
{

    <body>

        <div class="container">

            <div class="row">

                <div class="col-md-4" style="background-color:gray">
                    
                    <h1>  @Html.DisplayNameFor(model => model.PostID)</h1>
                    <h2>@Html.DisplayFor(modelItem => item.PostID)</h2>
                
                </div>

                <div class="col-md-6" style="background-color:lightskyblue">
                    <h1>  @Html.DisplayNameFor(model => model.PostBody)</h1>
                    <h2>@Html.DisplayFor(modelItem => item.PostBody)</h2>

                </div>

            </div>


        </div>

        
    </body>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimePost)
        </th>
        <th>
            Actions
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="glyphicon glyphicon-thumbs-down"></span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePost)
            </td>
            <td>

                @Html.ActionLink("Delete", "DeletePost", "post", null, new { @style = "color: black;" })
                
            </td>
        </tr>
    }

</table>
    
<div>
    @Html.ActionLink("Back to List", "Index", "Class", null, new { @style = "color: black;" })
</div>



