@model IEnumerable<_497FinalProject.Models.PostModel>

@{
    ViewBag.Title = "Thread Posts";
}

<h2>THREAD</h2>



    <body>

        <div class="container-fluid" >
            @foreach (var item in Model)
            {
                <div class="row.row-eq-height" style="grid-row:">

                    <div class="col-sm-3 bg-primary">

                        <b>  @Html.DisplayNameFor(model => model.PostUserName)</b>
                        <br> @Html.DisplayFor(modelItem => item.PostUserName)

                    </div>

                    <div class="col-sm-5 bg-info">
                        <b>  @Html.DisplayNameFor(model => model.PostBody)</b>
                        <br />@Html.DisplayFor(modelItem => item.PostBody)

                    </div>
                    <div class="col-sm-3 bg-secondary" style="background-color:darkgrey">
                        <b>Time Posted</b>
                        <br />@Html.DisplayFor(modelItem => item.TimePost);
                    </div>
                    <div class="col-sm-1">

                        @Html.ActionLink("Delete", "DeletePost", "Post", new { id = item.PostID }, null) |
                        @Html.ActionLink("Edit", "EditPost", "Post", new { id = item.PostID }, null) | 
    @Html.ActionLink("Create New", "CreatePost", "Post", new { id = item.ThreadID }, null)



                        @*@Html.ActionLink("Like", "AddApproval", "Post", new { id = item.PostID }, null)
        @Html.DisplayFor(modelItem => item.Approval)

        @Html.ActionLink("Dislike", "AddDispproval", "Post", new { id = item.Disapproval }, null)
        @Html.DisplayFor(modelItem => item.Disapproval)*@




                    </div>
             

                </div>
            }
        </div>
</body>



    
<div>
    @Html.ActionLink("Back to List", "Index", "Class", null, new { @style = "color: black;" })
</div>



